body {
    margin: 0px 0px;
    padding: 0px 0px;
    font-family: "SimHei";
}

input {
    outline: none;
    height: 28px;
    line-height: 28px;
    border: 1px solid #e5e6e7;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 8px;
    padding-right: 0px;
    box-shadow: none;
}

input:focus {
    border: 1px solid #18a689;
}

textarea {
    outline: none;
    border: 1px solid #e5e6e7;
    padding-top: 0px;
    padding-left: 8px;
    padding-bottom: 0px ;
    padding-right: 0px;
    height: 68px;
    resize: none;
    font-family: "SimHei";
    font-size: 13px;
}

textarea:focus {
    border: 1px solid #18a689;
}

.sn-select .sn-select-analog a:active {
    border: 1px solid #18a689;
}

ul {
    list-style-type: none;
    padding-inline-start: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.tab-panel-title {
    height: 30px;
    line-height: 30px;
    display: block;
    border: 1px solid #18a689;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 8px;
    font-size: 13px;
}

.tab-panel-list {
    border: 1px solid #18a689;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.t-columns-group {
    margin-bottom: 5px;
}

.t-columns-group:after, .t-columns-group:before {
    display: block;
    content: "";
    clear: both;
    overflow: hidden;
    height: 0px;
    font-size: 0px;
}

.t-columns-group > li {
    float: left;
    height: 30px;
    font-size: 13px;
    margin-top: 6px;
}

.t-columns-group > li > label {
    display: block;
    float: left;
    height: 30px;
    line-height: 30px;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
}

.t-columns-group > li > div {
    display: block;
    float: left;
    margin-left: 6px;
    text-align: left;
}

.t-columns-group > li > div input {
    width: 100%;
}

.t-columns-group > li > div textarea {
    width: 100%;
}

.t-columns-group > li > div select {
    width: 100%;
}

.t-columns-1 .t-columns-group > li {
    width:100%;
}

.t-columns-1 .t-columns-group > li > label {
    width:7.5%;
}

.t-columns-1 .t-columns-group > li > div {
    width:90%;
}

.t-columns-2 .t-columns-group > li {
    width:50%;
}

.t-columns-2 .t-columns-group > li > label {
    width:15%;
}

.t-columns-2 .t-columns-group > li > div {
    width:80%;
}

.t-columns-4 .t-columns-group > li {
    width:25%;
}

.t-columns-4 .t-columns-group > li > label {
    width:30%;
}

.t-columns-4 .t-columns-group > li > div {
    width:60%;
}

.fn-center {
    text-align: center;
}

.btn-normal {
    display: inline-block;
    width: 10%;
    border: 1px solid #18a689;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 0px auto;
    border-radius: 3px;
    font-size: 13px;
}

.btn-normal-green {
    display: inline-block;
    width: 10%;
    border: 1px solid #18a689;
    background-color: #18a689;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 0px auto;
    border-radius: 3px;
    font-size: 13px;
}

.btn-normal-red {
    display: inline-block;
    width: 10%;
    border: 1px solid red;
    background-color: red;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 0px auto;
    border-radius: 3px;
    font-size: 13px;
}

.validate-error {
    border: 1px solid red;
}